<!doctype html>
<html lang='zh-CN'>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link rel="stylesheet" href="stylesheets/uikit.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">

  <script src="//cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>

  <title>同道 - 专业的大学生项目社交平台</title>
</head>  
<body class="welcome">

<header>
<div class="uk-container uk-container-center">
  <img id="logo" src="images/tongdao.png" alt="">
  <span><a href="#">已注册用户登陆</a></span>
</div>
</header>


<article class="uk-container uk-container-center intro">

</article>


<footer>
  <div class="uk-width-medium-4-10 uk-push-3-10">
    <form action="#" class="uk-form">
      <input type="text" class="uk-form-large" id="email" name="email" placeholder="输入你的邮箱，开启同道之旅吧！">
      <button class="uk-icon-button uk-icon-ok"></button>
    </form>
  </div> <!-- form wrapper -->

  <div>
    <p class="uk-text-muted uk-text-small">&copy;2013 同道网，沪ICP备13041259号</p>
  </div> <!-- copyright && icp information -->
</footer>

<script src="//cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
<script src="scripts/lib/uikit.min.js"></script>
<script src="scripts/components/jquery-placeholder/jquery.placeholder.min.js"></script>
<script data-main="scripts/pages/welcome.js" src="scripts/components/requirejs/require.js"></script>
</body>
</html>