@import 'mixin.less';

@theme_color: #4E86BE;

.welcome {

  header {
    position: relative;

    padding: 10px 0px;

    background-color: whitesmoke;
    .drop-shadow;

    span {
      float: right;
      vertical-align: middle;
      
      height: 50px;
      line-height: 50px;

      * {
        margin: 0px 10px;
      }
    }
  }

  #intro {
    padding: 24px 0px;
  }

  footer {
    position: fixed;
    text-align: center;

    bottom: 0;
    left: 0;
    right: 0;

    background-color: @theme_color;

    form {
      padding: 12px;
    }
  }

}
