@import 'mixin.less';

header {
  position: relative;

  padding: 10px 0px;

  background-color: whitesmoke;
  .drop-shadow;

  span {
    float: right;
    vertical-align: middle;
    
    height: 50px;
    line-height: 50px;

    * {
      margin: 0px 10px;
    }
  }
}

#intro {
  padding: 24px 0px;
}