.public-activity {
  margin-top: 18px;

  .avatar img {
    width: 100%;
    max-width: 50px;
    max-height: 50px;
  }

  .text {
    font-size: @font-size-base - 4px;
    word-wrap: break-word;

    .top-text {
      font-weight: bold;
    }
  }
}

.public-activity-pagination {
  text-align: center;
}
